name: Bank-Sampah-Web CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-dockerize:
    runs-on: ubuntu-latest
    environment: deployment

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Download dependencies
        run: go mod download

      - name: Build application
        run: |
          mkdir -p bin
          go build -o bin/BankSampah-API cmd/main.go

      - name: Verify build
        run: ls -la bin/BankSampah-API

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
            context: .
            push: true
            tags: |
              ${{ secrets.DOCKER_HUB_USERNAME }}/bank-sampah:latest
              ${{ secrets.DOCKER_HUB_USERNAME }}/bank-sampah:${{ github.sha }}

      - name: Export image tag
        id: meta
        run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-dockerize
    environment: deployment
    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /opt/bank-sampah
            # pull image versi yang baru dibuild
            APP_TAG=${{ needs.build-and-dockerize.outputs.IMAGE_TAG }} DOCKER_HUB_USERNAME=${{ secrets.DOCKER_HUB_USERNAME }} sudo docker-compose pull app
            # recreate container
            APP_TAG=${{ needs.build-and-dockerize.outputs.IMAGE_TAG }} DOCKER_HUB_USERNAME=${{ secrets.DOCKER_HUB_USERNAME }} sudo docker-compose up -d app
            # optional: bersihin image lama
            sudo docker system prune -f
